@model RossetiWeb.Models.Ascillogram



<h1>CreateAscilogram</h1>

<div class="container-fluid">
    <form asp-action="CreateAscilogram">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Time" class="control-label"></label>
            <input asp-for="Time" class="form-control" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Value" class="control-label"></label>
            <textarea id="Value" name="Value"></textarea>
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>